.md-form .prefix{
    left: 0;
    top: 12px;
}
.autoContainer {
  position: absolute;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
 
  background-color: whitesmoke;
  width: 220px;
 margin-top: -20px;
  z-index: 1;
  overflow-y:scroll;
  overflow-x: hidden;
  margin-left: 40px;
  height: inherit;
   max-height: 200px;
}


.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  padding: 5px;
  background-color:lightgray;

}

.flags {
z-index: .9;
}

input label {
color:red;

}
