.md-form .prefix{
    left: 0;
    top: 12px;
}
.autoContainer {
  position: absolute;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: goldenrod;
  background-color: whitesmoke;
  width: 120px;
  border: 20px solid purple;
  z-index: 1;
}


.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  padding: 5px;
  background-color: green;
}

.flags {
z-index: .9;
}
